%container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}

%list {
    padding: 0;
    margin: 0;
    list-style: none;
}

%link {
    text-decoration: none;
}

%logo {
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

%section {
    padding-top: 94px;
    padding-bottom: 94px;
    margin: 0;
}

%button{
    color:$background-color ;
    background-color:$accent-color ;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}
%button-two{
    display: block;
    color: $background-color;
    text-decoration: none;
    text-align: center;
    margin: 0;


}
%title{
    font-size: 14px;
    line-height: 1,14;
    margin: 0;
}
%text{
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.03em;
}
%transition{
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transform:  translate(-50%, -50%) scale(1);
}
%transition-two{
    transition-property:  color;
      
    transition-duration: 250ms ;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1); 
}