.client{
    @extend %section

}
.client{
    &-title{
        padding: 0;
        margin: 0;
        color: $title-text-color;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
    }
}
.brands{
    display: flex;
}
.brand{
    display: flex;
     
    width: 170px;
    height: 90px;
    padding: 0;
    margin-top: 50px;
}
.brand{
    margin-right: 30px;
    width: calc((100% - 150px) /6)
  
}
.brand:last-child{
    margin-right: 0;
}
.brand{
    &-link{
        display: flex;
     
        justify-content: center;
        background-color: $background-color;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        width: 100%;
        height: 100%;
        text-align: center;
        align-items: center;
        color:#AFB1B8 ; 
        transition-property:   background-color,color,  border;
        transition-duration: 250ms;
        transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1); 
         
    }
}
.brand{
    &-icon{
        fill:currentColor;
    }
} 
.brand{
    &-link:hover,
    &-link:focus{
        background-color: $background-color;
        color: $accent-bg-color;    
        border:1px solid $accent-bg-color;
    }
}