.feature{
        @extend %section;
    
}
.feature{
    &-title{
        margin-top: 0;
        margin-bottom: 50px;
        color: $title-text-color;
        font-weight: bold;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
  }

    }
     
.list{
    &.item{
        margin-right: 30px;
  
        width: calc((100% - 60px) /3);
    }
}
.list{
    &.item:last-child{
        margin-right: 0;
    }
}
.item{
    &-img{
        display: block;
        margin-bottom: 0;
        
    }
}
.feature{
    &.link{
        color: $title-text-color;
    }
}
.button{
    &.primary{
        display: block;
        min-width: 370px;
        height: 70px;
    font-size: 14px;
    line-height: 1,14;
    text-align: center;
        text-transform: uppercase;
        padding-top: 27px;
        padding-bottom: 27px;
        margin: 0;
    
        color: $background-color;
        background-color: $accent-bg-color;
    }
}
.thumb{
    position: relative;
}
.button{
    &-thumb{
        position: absolute;
      bottom: 0; 
    }
}