.feature{
        @extend %section;
       
    
}

.feature{
    &-title{
        color: $title-text-color;
        @extend %text;
        font-size: 36px;
        line-height: 1.16;
        margin-top: 0;
        margin-bottom: 50px;
        
  }

    }
     
.list{
    @extend %list;
    width: 370px;
    display: flex;
    margin-right: 0;
  
}
.item{      
       margin-right: 30px;
       width: (1200px - 60px) /3;
    }

.item:last-child{
        margin-right: 0;
    }

.item{
    &-img{
        display: block;
        margin-bottom: 0;
        
    }
}
.feature{
    &.link{
       
        color: $title-text-color;
    }
}
.button{
    &.primary{
        @extend %button-two;
        min-width: 370px;
        height: 70px;
        @extend %title;
        text-transform: uppercase;
        padding-top: 27px;
        padding-bottom: 27px;
        background-color: $accent-bg-color;
    }
}
.thumb{
    position: relative;
}
.button{
    &-thumb{
        position: absolute;
      bottom: 0; 
    }
}