.page-header{
    background-color: $background-color;
      
}
.container--header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: $background-color;
}


.list{
    @extend %list;
}
.link{
    @extend %link;
}

.container{
    @extend %container;
}

.main-nav{
 display: flex;
 align-items: center;
    }

