.section{
    @extend %section;
    outline:  1px solid $color-border;
    
}
.section{
    &-title{
        @extend %title;
        color: $title-text-color ;
        font-size: 14px;
        line-height: 1.14;
        margin-top: 30px;
        margin-bottom: 0;
    }
}
.heading-title{
    display: none;
}
.list-element{
    @extend %list;
     &.element{
        width: (1200px - 90px) /4;
        margin-right: 30px; }
   
    &.element:last-child{
        margin-right: 0;
    }
}
.element{
&-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    min-width: 270px;
    background-color: $backgraund-second;
    border-radius: 4px;
}
}
.element{
    &-text{
        margin-top: 10px;
        width: 270px;
        max-height: 120px;
        font-size: 14px;
        line-height: 1,7px;
    }
}
