.team{
    @extend %section;
    background-color: $backgraund-second;
    &.container{
        background-color: $backgraund-second;
    }
}
.team{
    &-work{
        background-color: $background-color;
        border-bottom: 4px;
     
    }
}
.team{
    &-title{
        padding: 0;
        margin-top: 0;
        margin-bottom: 50px;
        color: $title-text-color; 
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center; 
    }
}
.team{
    &-text{
        display: block;
        padding-top: 30px;
        margin: 0;
       font-weight: 500;
       font-size: 16px;
       line-height: 1,18;
       text-align: center;
       color: $title-text-color;
    }
}
.work{
    display: block;
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1,18;
    text-align: center;
    color: $primary-text-color;

}
.list{
    &-team{
      display:block;
      margin-right:30px;
      margin-left: 0; 
    }
}
.list{
    &-list-team:last-child{
        margin-right: 0;}
    }
 .list{
     .list-team{
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        margin-right: 30px;
        width:(1170px - 90px) /4;
     }
 }   
.list-team{
    &.foto{
        display: block;
        max-width: 100%; 
      
    }
}    
.list{
    .team{
        display: block;
    //  width: 207px;
      padding: 0;
      align-content: center;
    }
}
.team{
    &-link{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-color: $background-color;
        color:#AFB1B8 ;
        border-radius: 50%;
        transition-property: background-color,color;
        transition-duration: 250ms;
        transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1); 
         
    }
}
.icon{
    &-logo{
        width: 20;
        height: 20;
        padding: 0;
        fill:currentColor
    }
}
.list{
    .team{
        display: flex;
        width: 44px;
        height: 44px;
        margin-right: 10px;
        margin-left: 0; 
        background-color: $background-color;
        border-radius: 50%;
    }
}
.list{
    &.team:last-child{
        margin-right: 0;
    }
}
.team{
    &-link:hover,
    &-link :focus{
      color: $background-color ;
       background-color: $accent-color;
    }
       
}

.container{
    &-link{
      display: flex;
      align-content: center;
      margin-bottom: 24px;
      margin-left: 32px;
      margin-right: 32px;
     }
}